.App {
  text-align: center;
}

.row {
 width: 750px;
 margin-left:auto;
 margin-right: auto;
}
.tile {
  width: 150px;
  height:150px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  display:inline-block;
  cursor: pointer;
  vertical-align: top;
}

.tile.default {
    background: grey;
}
.tile.room {
    background: steelblue;
}

.tile.starting {
    background:lightgreen;
}
